{{extend "wiki_layout.html"}}

{{block content_main}}
{{include "WikiView/inc_wiki_nav.html"}}

<div class="content-outter" id="wiki">

<div class="wiki-header">

    {{make_nav(object.name)}}

    <div class="wiki-actions">
        {{if permissions.get('write'):}}
        <a href="{{=url_for('plugs.wiki.views.WikiView.wiki_edit', pagename=object.name)}}">Edit</a>
        {{pass}}
        {{if permissions.get('delete'):}}
        <a href="{{=url_for('plugs.wiki.views.WikiView.wiki_delete', pagename=object.name)}}" onclick="return OnDelete('{{=object.name}}')">Delete</a>
        {{pass}}
        {{if permissions.get('read'):}}
        <a href="{{=url_for('plugs.wiki.views.WikiView.wiki_revision', pagename=object.name)}}">Revision</a>
        {{pass}}
    </div>
</div>

<script type="text/javascript">
var OnDelete = function(pagename){
    return confirm("Do you realy want to delete " + pagename + "?");
};
</script>
{{if revision:}}
    <div class="alert">You are viewing rev #{{=revision}} modified at {{=rev_time}}. Visit the lastest <a href="/wiki/{{=object.name}}">revision</a></div>
{{pass}}
<div id="wiki-content">

{{if object.modified_user:}}
{{from uliweb.utils.timesince import timesince}}
<div class="wiki-info">
<span class="gray">Last edited by {{=unicode(object.modified_user)}}, {{=timesince(object.modified_time)}}</span>
</div>
{{pass}}

{{<< content}}
</div>
</div>
{{end}}
