{{extend "develop_layout.html"}}

{{block menu}}
{{navigation(active='globals', _class='nav-tabs')}}
{{end}}

{{block content_main}}
<div class="content-outter">
<p class="alert alert-info">This page will display all available objects which can be used in a view function.</p>
<table class="table">
    <tbody>
        <tr><th>Global</th><th> Value</th></tr>
        {{for key,value in glo.items():}}
        <tr><th>{{=key}}</th> 
        <td>
        {{from uliweb.utils.textconvert import text2html}}
        {{<<text2html(str(value))}}
        </td>
        </tr>
        {{pass}}
    </tbody>
</table>
{{end}}