{{extend 'user_admin_layout.html'}}

{{block sub_menu}}
{{sub_menu(menu_items, 'user', 'information')}}
{{end}}

{{block content_main}}
{{use "jquery", css_only=True}}
<div class="row-fluid">
    <div class="span2 well">
        {{if can_modify:}}
        <a href="{{=url_for('plugs.user_admin.views_admin.UserView.edit_image')}}" title="{{=_('Click to change portrait')}}"><img src="{{=image_url}}" class="portrait"/></a>
        <p>单击更改头像</p>
        {{else:}}
        <img src="{{=image_url}}" class="portrait"/>
        {{pass}}
    </div>
    <div class="span5">
        <div class="box-body">
            {{embed view}}
            {{if can_modify:}}
            <div class="box-bottom">
            <a class="btn btn-green" href="{{=url_for('plugs.user_admin.views_admin.UserView.edit')}}">{{=_('Edit')}}</a>
            </div>
            {{pass}}
        </div>
    </div>
</div>
{{end}}
