{{extend "message_admin_layout.html"}}

{{block sub_menu}}
{{menu('sidemenu','messages/send')}}
{{end}}

{{block content_main}}
{{use "jquery"}}
{{use "jqutils"}}
{{use "jquery", ui=True}}
{{use "fontawesome"}}
{{include "inc_select2.html"}}

<div class="span8 panel">
    <div class="panel-header">
        <h2>发送信息</h2>
    </div>
    {{<< form.begin}}
    <div class="panel-content">
        {{<< form.body}}
    </div>
    <div class="panel-footer">
        {{<< form.buttons}}
    </div>
    {{<< form.end}}
</div>

<script>
$(function(){
    simple_select2('#field_users', {ajax:{url:"/users/search"}});
});
</script>
{{end}}
