{{extend "layout.html"}}

{{block menu}}
{{menu('forums')}}
{{end}}

{{block title}}{{super}} - 论坛{{end}}

{{block content}}
{{use "jquery"}}
{{link "forums/forums.css"}}
<div id="forum" class="container">
    <div class="content content-outter">
    {{block forum_nav}}
    {{##<ul class="breadcrumb">
      <li>
        <a href="{{=url_for('plugs.forums.views.ForumView.list')}}" class="home" title="首页">论坛首页</a>
      </li>
    </ul>
    ##}}
    {{end}}
    {{block content_main}}
    {{end}}
    </div>
</div>
{{end}}
