{{use "smartpaginator"}}
<script type="text/javascript">
    var create_pagination = function (el, total, page_nums, start, callback){
        if (total){
            $(el).smartpaginator({
                totalrecords    : total,
                initval 		: start,
                theme           : 'blue',
                recordsperpage  : 12,
                next: '下一页', prev: '上一页', first: '首页', last: '末页',
                go :'跳转',
                onchange        : callback
            });
        }
    }
</script>
