{{use "jpaginate"}}
<style type="text/css">
<!--
span.jPag-current{
font-weight:bold
}
-->
</style>
<script type="text/javascript">
    var create_pagination = function (el, total, page_nums, start, callback){
        if (total){
            $(el).paginate({
                count 		: Math.ceil(total/page_nums),
                start 		: start,
                display     : 12,
                border					: false,
                text_color  			: '#79B5E3',
                background_color    	: 'none',	
                text_hover_color  		: '#2573AF',
                background_hover_color	: 'none', 
                images		: false,
                mouse		: 'press',
                onChange    : callback
            });
        }
    }
</script>
