{{extend "config_layout.html"}}

{{block menu}}
{{menu('config')}}
{{end}}

{{block sub_menu}}
{{sub_menu(menu_items, 'admin_config', 'roles')}}
{{end}}

{{block content_tool}}
{{if request.user.is_superuser:}}
    <a class="btn btn-blue" href="/config/roles/add">点击这里增加新角色</a>
{{pass}}
{{end}}

{{block content_main}}
{{use "jquery"}}

<div class="content">
    {{table_id='roles_table'}}
    {{include "inc_table.html"}}
    <script>
        $(function(){
            create_table("{{=request.path}}", false);
        });
    </script>
</div>

{{end}}
