<!doctype html>
<html>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<head>
  <title>Error</title>
<style>
body{background: #fff;}
h1{text-align:center;font-size:48px;}
.error{color:red;font-weight:bold;}
</style>
</head>
<body>
<h1>{{=_('Error')}}</h1>
<div style="text-align:center;margin:0 auto;">
    <img src="/static/images/error.png"></img>
    <p class="error">{{=message}}</p>
    <p><a href="/">{{=_('Click here to return HomePage')}}</a></p>
</div>

</body>
</html>



